/* APP-MARKET */
.app-market {
  padding: 102px 0;
  background-color: $dark-navy;
  background-image: url("../img/three-big-circle.svg");
  background-repeat: no-repeat;
  background-size: 1153px 347px;
  background-position: calc(50% + 300px) 130px;
}

.app-market__container{
  display: flex;
  align-items: center;
}

.app-market__title {
  margin-bottom: 0;
  width: 415px;
  color: $white;
  margin-right: auto;
}

.app-market__list {
  display: flex;
  align-items: center;

  @include list-unstyled;
}

.app-market__item:not(:last-child) {
  margin-right: 18px;
}

.app-market__img {
  display: block;
}



@media only screen and (max-width: 768px) {
  .app-market {
    padding: 62px 0;
    background-position: calc(50% + 30px) 130px;
  }

  .app-market__container{
    flex-direction: column;
  }

  .app-market__title {
    margin-right: 0;
    margin-bottom: 40px;
    text-align: center;

  }

}


@media only screen and (max-width: 576px) {
  .app-market {
    padding: 88px 0;
    background-position: calc(50% - 200px) 130px;
  }

  .app-market__title {
    max-width: 311px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.42857px;
  }
}