/* BUTTON */
.button {
  display: inline-block;
  padding: 11px 40px;
  border: 3px solid transparent;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 15px;
  line-height: 25px;
  font-family: $heading-font-stack;
  font-weight: bold;
  background-color: $yellow;
  color: $white;
  white-space: nowrap;
  transition: color 0.3s ease;
}

.button:hover {
  border-color: $yellow;
  background-color: transparent;
  color: $yellow;
}

.button:active {
  opacity: 0.6;
}