/* FEATURES */
.features {
  padding-top: 150px;
  padding-bottom: 180px;
  overflow-x: hidden;
}

.features__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 160px;

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.features__box-inner {
  width: 445px;
}

.features__title {
  color: $dark-navy;
  margin-bottom: 24px;
}

.features__desc {
  color: $dim-grey;
  margin-bottom: 40px;
}

.features__img-box {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    left: -130px;
    bottom: 0;
    z-index: 10;
    width: 735px;
    height: 140px;
    background-image: url("../img/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &::after {
    content: "";
    position: absolute;
    right: calc(50% - 500px);
    bottom: 50%;
    transform: translate(50%, 50%);
    z-index: 1;
    width: 445px;
    height: 445px;
    background-image: url(../img/grey-circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.features__img-box--city::before {
  content: "";
  position: absolute;
  left: -118%;
  top: 0;
  z-index: 10;
  width: 735px;
  height: 140px;
  background-image: url("../img/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.features__img-box--city::after {
  content: "";
  position: absolute;
  left: calc(50% - 500px);
  bottom: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
  width: 445px;
  height: 445px;
  background-image: url(../img/grey-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.features__img-payments {
  border-radius: 50%;
}

.features__img-box--payments::before {
  content: "";
  position: absolute;
  left: 235px;
  top: 66px;
  z-index: 10;
  width: 735px;
  height: 140px;
  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

// MEDIA

@media only screen and (max-width: 768px) {
  .features {
    padding-bottom: 104px;
  }

  .features__box {
    flex-direction: column !important;

    &:not(:last-child) {
      margin-bottom: 128px;
    }
  }

  .features__box-inner {
    order: 2;
    text-align: center;
  }

  .features__img-box {
    margin-bottom: 56px;
  }
}

@media only screen and (max-width: 475px) {


  .features {
    padding-bottom: 120px;
  }

  .features__box:not(:last-child) {
    margin-bottom: 120px;
  }

  .features__title {
    font-size: 32px;
    line-height: 32px;
  }

  .features__img-box img {
    width: 311px;
    height: 311px;
  }

  .features__img-box::after {
    display: none;
  }

  .features__img-box--city::before {
    left: -145%;
  }

  .features__img-box--use::before {
    left: -30px;
  }

  .features__img-box--payments::before {
    left: 34px;
    top: 15px;
  }

  .features__box-inner {
    max-width: 311px;
  }
}