/* HERO */
.hero {
  margin-top: 93px;
  position: relative;
  z-index: 1;
  padding: 153px 0;
  background-image: url("../../img/hero-bg.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero__heading {
  width: 500px;
  margin: 0;
  font-family: $heading-font-stack;
  font-weight: bold;
  color: $white;
  margin-bottom: 40px;
}

.hero__desc {
  width: 405px;
  margin: 0;
  color: $white;
  margin-bottom: 40px;
  margin-left: 95px;
}

.hero__content{
  position: relative;
  z-index: 1;

  &::before{
    content: "";
    display: block;
    width: 203px;
    height: 15px;
    position: absolute;
    z-index: -1;
    top: 25%;
    left: -15%;
    background-image: url("../img/hero-line-bg.svg");
    background-repeat: no-repeat;
  }

  &::after{
    content: "";
    display: block;
    width: 453px;
    height: 150px;
    position: absolute;
    z-index: -1;
    top: 25%;
    left: 50%;
    background-image: url("../img/big-arrow.svg");
    background-repeat: no-repeat;
  }
}

.hero__btn {
  margin-left: 95px;
}