// STEPS
.steps{
  padding-top: 160px;
}

.steps__list {
  display: flex;
  align-items: flex-start;

  @include list-unstyled;
}

.steps__item-wrapper {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.steps__item{
  position: relative;
  z-index: 1;
  &:not(:last-child){
    margin-right: 30px;
  }

  &::before {
    content: "";
    display: block;
    width: 96px;
    height: 96px;
    background-image: url("../../img/icon-calculator.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 40px;
    position: relative;
    z-index: 10;
  }

  &::after {
    content: "";
    top: 48px;
    right: 100%;
    transform: translateY(-50%);
    width: 300px;
    height: 15px;
    background-color: $light-grey;
    position: absolute;
    z-index: -1;
  }
}

.steps__item--bike::before{
  background-image: url("../../img/icon-bike.svg");
}
.steps__item--speedbike::before{
  background-image: url("../../img/icon-speed-bike.svg");
}

.steps__item-title {
  color: $dark-navy;
  margin-bottom: 27px;
}
.steps__item-desc {
  margin: 0;
  color: $dim-grey;
}


@media only screen and (max-width: 768px) {
  .steps{
    padding-top: 122px;
  }

  .steps__list {
    flex-direction: column;
  }

  .steps__item-wrapper {
    max-width: 400px;
  }

  .steps__item {
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &::before {
      margin-bottom: 0;
      margin-right: 80px;
    }
  }

}

@media only screen and (max-width: 475px) {
  .steps__list {
    align-items: initial;
  }

  .steps__item {
    align-items: center;
    flex-direction: column;
    text-align: center;

    &::before {
      margin-right: 0;
      margin-bottom: 24px;
    }

    &::after {
      display: none;
    }
  }

  .steps__item-wrapper {
    max-width: 311px;
    align-items: initial;
  }

  .steps__item-title {
    margin-bottom: 24px;
  }
}